# Loading and Working with Data Sources

---

## Create, Download, Upload, and Modify Text Files

**Create a text file:**

In [0]:
with open('example.txt', 'w') as file:
  file.write('Some content.\n')
  file.close()

**Download a text file:**

In [0]:
from google.colab import files
files.download('example.txt')

**Upload a text file:**

In [22]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving example.txt to example (1).txt
User uploaded file "example.txt" with length 14 bytes

**Display list of uploaded files:**

In [23]:
print(uploaded)

{'example.txt': b'Some content.\n'}

**Append text files:**

In [0]:
with open('example.txt', 'a') as file:
  file.write('Some additional content.')
  file.close()

In [25]:
with open('example.txt', 'r') as file:
  print(file.read())
  file.close()

Some content.
Some additional content.

## Upload and Read CSV and TSV Files

**Load CSV file:**

In [37]:
from google.colab import files
import pandas as pd

uploaded = files.upload()

Saving Sales - Employee.csv to Sales - Employee.csv

**Print out raw data:**

In [38]:
print(uploaded)

{'Sales - Employee.csv': b'Employee ID,First Name,Last Name,Department,City\r\n10001,Daniel,Olson,Electronics,San Francisco\r\n10002,Nick,Markmen,Clothes,San Francisco\r\n10003,Maria,Gonzales,Electronics,San Jose\r\n10004,George,Wong,Clothes,San Francisco\r\n10005,Stephanie,Williams,Clothes,Oakland\r\n10006,Miguel,Alva,Clothes,Oakland\r\n10007,Jessica,Collins,Cosmetics,San Francisco\r\n10008,Ted,Anderson,Clothes,Oakland\r\n10009,Victoria,Garcia,Clothes,San Jose\r\n10010,Jasmine,Khan,"Pharmacy, Health & Beauty",Oakland\r\n10011,Adam,Smith,"Pharmacy, Health & Beauty",San Jose\r\n10012,Rachel,Kim,Electronics,San Jose'}

**Read CSV file:**

In [39]:
with open('Sales - Employee.csv', 'r') as file:
  print(file.read())
  file.close()

Employee ID,First Name,Last Name,Department,City
10001,Daniel,Olson,Electronics,San Francisco
10002,Nick,Markmen,Clothes,San Francisco
10003,Maria,Gonzales,Electronics,San Jose
10004,George,Wong,Clothes,San Francisco
10005,Stephanie,Williams,Clothes,Oakland
10006,Miguel,Alva,Clothes,Oakland
10007,Jessica,Collins,Cosmetics,San Francisco
10008,Ted,Anderson,Clothes,Oakland
10009,Victoria,Garcia,Clothes,San Jose
10010,Jasmine,Khan,"Pharmacy, Health & Beauty",Oakland
10011,Adam,Smith,"Pharmacy, Health & Beauty",San Jose
10012,Rachel,Kim,Electronics,San Jose

**Read CSV file into a Pandas Dataframe:**

In [40]:
import io
from IPython.display import display, HTML
df = pd.read_csv(io.StringIO(uploaded['Sales - Employee.csv'].decode('utf-8')))
display(df)

    Employee ID First Name Last Name                 Department           City
0         10001     Daniel     Olson                Electronics  San Francisco
1         10002       Nick   Markmen                    Clothes  San Francisco
2         10003      Maria  Gonzales                Electronics       San Jose
3         10004     George      Wong                    Clothes  San Francisco
4         10005  Stephanie  Williams                    Clothes        Oakland
5         10006     Miguel      Alva                    Clothes        Oakland
6         10007    Jessica   Collins                  Cosmetics  San Francisco
7         10008        Ted  Anderson                    Clothes        Oakland
8         10009   Victoria    Garcia                    Clothes       San Jose
9         10010    Jasmine      Khan  Pharmacy, Health & Beauty        Oakland
10        10011       Adam     Smith  Pharmacy, Health & Beauty       San Jose
11        10012     Rachel       Kim                Electronics       San Jose

**Load and read TSV file:**

In [41]:
uploaded = files.upload()

Saving Sales - Employee.tsv to Sales - Employee.tsv

In [42]:
with open('Sales - Employee.tsv', 'r') as file:
  print(file.read())
  file.close()

Employee ID	First Name	Last Name	Department	City
10001	Daniel	Olson	Electronics	San Francisco
10002	Nick	Markmen	Clothes	San Francisco
10003	Maria	Gonzales	Electronics	San Jose
10004	George	Wong	Clothes	San Francisco
10005	Stephanie	Williams	Clothes	Oakland
10006	Miguel	Alva	Clothes	Oakland
10007	Jessica	Collins	Cosmetics	San Francisco
10008	Ted	Anderson	Clothes	Oakland
10009	Victoria	Garcia	Clothes	San Jose
10010	Jasmine	Khan	Pharmacy, Health & Beauty	Oakland
10011	Adam	Smith	Pharmacy, Health & Beauty	San Jose
10012	Rachel	Kim	Electronics	San Jose

**Load TSV file into Pandas Dataframe:**

In [43]:
df = pd.read_csv(io.StringIO(uploaded['Sales - Employee.tsv'].decode('utf-8')), sep='\t')
display(df)

    Employee ID First Name Last Name                 Department           City
0         10001     Daniel     Olson                Electronics  San Francisco
1         10002       Nick   Markmen                    Clothes  San Francisco
2         10003      Maria  Gonzales                Electronics       San Jose
3         10004     George      Wong                    Clothes  San Francisco
4         10005  Stephanie  Williams                    Clothes        Oakland
5         10006     Miguel      Alva                    Clothes        Oakland
6         10007    Jessica   Collins                  Cosmetics  San Francisco
7         10008        Ted  Anderson                    Clothes        Oakland
8         10009   Victoria    Garcia                    Clothes       San Jose
9         10010    Jasmine      Khan  Pharmacy, Health & Beauty        Oakland
10        10011       Adam     Smith  Pharmacy, Health & Beauty       San Jose
11        10012     Rachel       Kim                Electronics       San Jose

## **Load and read excel files:**

**Load Excel file:**

In [0]:
!pip3 install xlrd
import xlrd

In [46]:
uploaded = files.upload()

Saving Sales.xlsx to Sales.xlsx

**Load excel into Pandas and display data:**

In [47]:
df = pd.read_excel(open('Sales.xlsx', 'rb'), sheet_name = 'Employee')
display(df)

    Employee ID First Name Last Name                 Department           City
0         10001     Daniel     Olson                Electronics  San Francisco
1         10002       Nick   Markmen                    Clothes  San Francisco
2         10003      Maria  Gonzales                Electronics       San Jose
3         10004     George      Wong                    Clothes  San Francisco
4         10005  Stephanie  Williams                    Clothes        Oakland
5         10006     Miguel      Alva                    Clothes        Oakland
6         10007    Jessica   Collins                  Cosmetics  San Francisco
7         10008        Ted  Anderson                    Clothes        Oakland
8         10009  Victoria     Garcia                    Clothes       San Jose
9         10010    Jasmine      Khan  Pharmacy, Health & Beauty        Oakland
10        10011       Adam     Smith  Pharmacy, Health & Beauty       San Jose
11        10012     Rachel       Kim                Electronics       San Jose

## Create and Upload Google Spreadsheet

**Give Colabs permission to access Google Drive:**

In [0]:
!pip install --upgrade -q gspread

from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

**Create a new Google Spreadsheet:**

In [0]:
sh = gc.create('New Spreadsheet')

**Add new data to spreadsheet:**

In [50]:
worksheet = gc.open('New Spreadsheet').sheet1

cell_list = worksheet.range('A1:C2')

import random
for cell in cell_list:
  cell.value = random.randint(1,10)
  
worksheet.update_cells(cell_list)

{'spreadsheetId': '1dG-iSasgfeE-4N3i_gUjujI-m14W1fPO-l2-QI5qEzw',
 'updatedCells': 6,
 'updatedColumns': 3,
 'updatedRange': 'Sheet1!A1:C2',
 'updatedRows': 2}

**Upload Google spreadsheet to Pandas Dataframe:**

In [51]:
worksheet = gc.open('New Spreadsheet').sheet1

rows = worksheet.get_all_values()

import pandas as pd
pd.DataFrame.from_records(rows)

   0  1  2
0  5  9  5
1  9  8  1

# Create and Modify SQLite Databases and Tables

**Create an SQLite database:**

In [0]:
# Deletes sales sql database in case we need to start from scratch
# import os
# os.remove('Sales.db')

In [0]:
open('Sales.db', 'w')
from google.colab import files
files.download('Sales.db')

In [147]:
from google.colab import files
uploaded = files.upload()

In [0]:
import sqlite3

In [0]:
conn = sqlite3.connect('Sales.db')

**Create a table:**

In [0]:
c = conn.cursor()

In [151]:
c.execute('CREATE TABLE Employee (Employee_ID INTEGER PRIMARY KEY, First_Name TEXT, Last_Name TEXT, Department TEXT, City TEXT)')

In [152]:
c.execute("INSERT INTO Employee VALUES (10001, 'Daniel', 'Olson', 'Electronics', 'San Francisco')")

In [153]:
c.execute('SELECT * FROM Employee')
print(c.fetchone())

(10001, 'Daniel', 'Olson', 'Electronics', 'San Francisco')

In [0]:
employees = [
  (10002, 'Nick', 'Markmen', 'Clothes', 'San Francisco'),
  (10003, 'Maria', 'Gonzales', 'Electronics', 'San Jose'),
  (10004, 'George', 'Wong', 'Clothes', 'San Francisco'),
  (10005, 'Stephanie', 'Williams', 'Clothes', 'Oakland'),
  (10006, 'Miguel', 'Alva', 'Clothes', 'Oakland'),
  (10007, 'Jessica', 'Collins',	'Cosmetics', 'San Francisco'),
  (10008, 'Ted', 'Anderson', 'Clothes', 'Oakland'),
  (10009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'),
  (10010, 'Jasmine', 'Khan', 'Pharmacy, Health & Beauty',	'Oakland'),
  (10011, 'Adam',	'Smith', 'Pharmacy, Health & Beauty',	'San Jose'),
  (10012, 'Rachel',	'Kim', 'Electronics', 'San Jose')
]

In [155]:
c.executemany('INSERT INTO Employee VALUES (?,?,?,?,?)', employees)

In [156]:
c.execute('SELECT * FROM Employee')
print(c.fetchall())

[(10001, 'Daniel', 'Olson', 'Electronics', 'San Francisco'), (10002, 'Nick', 'Markmen', 'Clothes', 'San Francisco'), (10003, 'Maria', 'Gonzales', 'Electronics', 'San Jose'), (10004, 'George', 'Wong', 'Clothes', 'San Francisco'), (10005, 'Stephanie', 'Williams', 'Clothes', 'Oakland'), (10006, 'Miguel', 'Alva', 'Clothes', 'Oakland'), (10007, 'Jessica', 'Collins', 'Cosmetics', 'San Francisco'), (10008, 'Ted', 'Anderson', 'Clothes', 'Oakland'), (10009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'), (10010, 'Jasmine', 'Khan', 'Pharmacy, Health & Beauty', 'Oakland'), (10011, 'Adam', 'Smith', 'Pharmacy, Health & Beauty', 'San Jose'), (10012, 'Rachel', 'Kim', 'Electronics', 'San Jose')]

In [157]:
c.execute('CREATE TABLE Customer \
  (Customer_ID INTEGER PRIMARY KEY, First_Name TEXT, Last_Name TEXT, City TEXT)')

In [158]:
customers = [
  (20001, 'Jack', 'Ward', 'San Jose'),
  (20002, 'Steven', 'Martinez', 'San Francisco'),
  (20003, 'Jessica', 'Collins', 'San Jose'),
  (20004, 'Carie', 'Robinson', 'San Francisco'),
  (20005, 'Zack', 'Peterson', 'Oakland'),
  (20006, 'Bianca', 'Sanchez', 'San Francisco'),
  (20007, 'James', 'Owen', 'Oakland'),
  (20008, 'Lisa', 'Smith', 'San Francisco'),
  (20009, 'Daniel',	'Yasukawa', 'Oakland'),
  (20010, 'Lauren',	'Pham', 'San Jose'),
  (20011, 'Juan',	'Diaz', 'Oakland'),
  (20012, 'Martha',	'Diaz', 'San Francisco')
]
c.executemany('INSERT INTO Customer VALUES (?,?,?,?)', customers)

In [159]:
c.execute('SELECT * FROM Customer')
print(c.fetchall())

[(20001, 'Jack', 'Ward', 'San Jose'), (20002, 'Steven', 'Martinez', 'San Francisco'), (20003, 'Jessica', 'Collins', 'San Jose'), (20004, 'Carie', 'Robinson', 'San Francisco'), (20005, 'Zack', 'Peterson', 'Oakland'), (20006, 'Bianca', 'Sanchez', 'San Francisco'), (20007, 'James', 'Owen', 'Oakland'), (20008, 'Lisa', 'Smith', 'San Francisco'), (20009, 'Daniel', 'Yasukawa', 'Oakland'), (20010, 'Lauren', 'Pham', 'San Jose'), (20011, 'Juan', 'Diaz', 'Oakland'), (20012, 'Martha', 'Diaz', 'San Francisco')]

In [160]:
c.execute('CREATE TABLE Product \
  (Product_ID INTEGER PRIMARY KEY, Product_Name TEXT, Price INTEGER, \
  Supplier_ID INTEGER, Supplier_Name TEXT)')

In [161]:
products = [
  (30001, 'T-Shirt', 12.98, 40004, 'Studio Warehouse'),
  (30002, 'Tooth Paste', 4.5, 40002, 'BioMed Inc'),
  (30003, 'Speakers', 56.99, 40005, 'CompTech, Inc'),
  (30004, 'Pants', 34.35, 40003, 'FashionRUs'),
  (30005, 'Microphone', 46.21, 40001, 'Music Vibrations, Inc'),
  (30006, 'Tie', 11.09, 40003, 'FashionRUs'),
  (30007, 'Chap Stick', 3.67, 40002, 'BioMed Inc'),
  (30008, 'Medicine', 23.96, 40002, 'BioMed Inc'),
  (30009, 'Headphones', 31.44, 40001, 'Music Vibrations, Inc'),
  (30010, 'Lotion',	16.77, 40002, 'BioMed Inc'),
  (30011, 'DVD Player',	149.99, 40005, 'CompTech, Inc'),
  (30012, 'Coat',	56.33, 40004, 'Studio Warehouse')
]
c.executemany('INSERT INTO Product VALUES (?,?,?,?,?)', products)

In [162]:
c.execute('CREATE TABLE Orders \
  (Order_ID INTEGER PRIMARY KEY, Customer_ID INTEGER, \
  Product_ID INTEGER, Employee_ID INTEGER, Date TEXT)')

In [163]:
orders = [
  (50001, 20005, 30005, 10001, '17-02-12'),
  (50002, 20003, 30008, 10011, '17-09-03'),
  (50003, 20010, 30001, 10009, '17-11-23'),
  (50004, 20004, 30008, 10010, '17-01-28'),
  (50005, 20008, 30012, 10002, '17-08-11'),
  (50006, 20011, 30011, 10001, '17-04-13'),
  (50007, 20012, 30002, 10007, '17-10-07'),
  (50008, 20002, 30001, 10004, '17-03-09'),
  (50009, 20001, 30006, 10009, '17-12-26'),
]
c.executemany('INSERT INTO Orders VALUES (?,?,?,?,?)', orders)

In [166]:
c.execute('CREATE TABLE Supplier (Supplier_ID INTEGERS PRIMARY KEY, Name TEXT)')

In [165]:
c.execute('DROP TABLE Supplier')

**Alter table:**

In [167]:
c.execute('ALTER TABLE Supplier ADD City TEXT')

**Insertion:**

In [168]:
suppliers = [
  (40001, 'Music Vibrations, Inc', 'Oakland'),
  (40002, 'BioMed Inc', 'San Francisco'),
  (40003, 'FashionRUs', 'San Jose'),
  (40004, 'Studio Warehouse', 'San Francisco'),
  (40005, 'CompTech, Inc', 'San Jose'),
]
c.executemany('INSERT INTO Supplier VALUES (?,?,?)', suppliers)

**View and query table:**

In [169]:
c.execute('SELECT * FROM Supplier')
print(c.fetchall())

[(40001, 'Music Vibrations, Inc', 'Oakland'), (40002, 'BioMed Inc', 'San Francisco'), (40003, 'FashionRUs', 'San Jose'), (40004, 'Studio Warehouse', 'San Francisco'), (40005, 'CompTech, Inc', 'San Jose')]

**Update record:**

In [170]:
c.execute("INSERT INTO Supplier VALUES (40006, 'Piper', 'Palo Alto')")

In [171]:
c.execute("UPDATE Supplier SET City = 'San Jose' WHERE Name = 'Piper'")
c.execute('SELECT * FROM Supplier')
print(c.fetchall())

[(40001, 'Music Vibrations, Inc', 'Oakland'), (40002, 'BioMed Inc', 'San Francisco'), (40003, 'FashionRUs', 'San Jose'), (40004, 'Studio Warehouse', 'San Francisco'), (40005, 'CompTech, Inc', 'San Jose'), (40006, 'Piper', 'San Jose')]

**Delete record:**

In [172]:
c.execute("DELETE FROM Supplier WHERE Name = 'Piper'")
c.execute('SELECT * FROM Supplier')
print(c.fetchall())

[(40001, 'Music Vibrations, Inc', 'Oakland'), (40002, 'BioMed Inc', 'San Francisco'), (40003, 'FashionRUs', 'San Jose'), (40004, 'Studio Warehouse', 'San Francisco'), (40005, 'CompTech, Inc', 'San Jose')]

In [0]:
conn.commit()
conn.close()

# Selections and Conditions

**Connect to the SQLite database:**

In [0]:
conn = sqlite3.connect('Sales.db')
c = conn.cursor()

**Selections:**

In [175]:
c.execute("SELECT First_Name FROM Employee")
print(c.fetchall())

[('Daniel',), ('Nick',), ('Maria',), ('George',), ('Stephanie',), ('Miguel',), ('Jessica',), ('Ted',), ('Victoria',), ('Jasmine',), ('Adam',), ('Rachel',)]

In [176]:
c.execute("SELECT Last_Name FROM Customer")
print(c.fetchall())

[('Ward',), ('Martinez',), ('Collins',), ('Robinson',), ('Peterson',), ('Sanchez',), ('Owen',), ('Smith',), ('Yasukawa',), ('Pham',), ('Diaz',), ('Diaz',)]

In [177]:
c.execute("SELECT Order_ID, Date FROM Orders")
print(c.fetchall())

[(50001, '17-02-12'), (50002, '17-09-03'), (50003, '17-11-23'), (50004, '17-01-28'), (50005, '17-08-11'), (50006, '17-04-13'), (50007, '17-10-07'), (50008, '17-03-09'), (50009, '17-12-26')]

**Where:**

In [178]:
c.execute("SELECT Employee_ID, First_Name, Last_Name \
  FROM Employee \
  WHERE City = 'Oakland'")
print(c.fetchall())

[(10005, 'Stephanie', 'Williams'), (10006, 'Miguel', 'Alva'), (10008, 'Ted', 'Anderson'), (10010, 'Jasmine', 'Khan')]

In [179]:
c.execute("SELECT Supplier_ID, Name \
  FROM Supplier \
  WHERE City = 'San Jose'")
print(c.fetchall())

[(40003, 'FashionRUs'), (40005, 'CompTech, Inc')]

In [180]:
c.execute("SELECT Customer_ID, First_Name, Last_Name \
  FROM Customer \
  WHERE City = 'Oakland'")
print(c.fetchall())

[(20005, 'Zack', 'Peterson'), (20007, 'James', 'Owen'), (20009, 'Daniel', 'Yasukawa'), (20011, 'Juan', 'Diaz')]

**And:**

In [182]:
c.execute("SELECT Employee_ID, First_Name, Last_Name \
  FROM Employee \
  WHERE City = 'San Jose' AND Department = 'Clothes'")
print(c.fetchall())

[(10009, 'Victoria', 'Garcia')]

In [183]:
c.execute("SELECT Supplier_Name, Supplier_ID, Price \
  FROM Product \
  WHERE Price < 50 AND Price > 10")
print(c.fetchall())

[('Studio Warehouse', 40004, 12.98), ('FashionRUs', 40003, 34.35), ('Music Vibrations, Inc', 40001, 46.21), ('FashionRUs', 40003, 11.09), ('BioMed Inc', 40002, 23.96), ('Music Vibrations, Inc', 40001, 31.44), ('BioMed Inc', 40002, 16.77)]

**Or:**

In [184]:
c.execute("SELECT Supplier_Name, Supplier_ID, Price \
  FROM Product \
  WHERE Price > 50 OR Price < 10")
print(c.fetchall())

[('BioMed Inc', 40002, 4.5), ('CompTech, Inc', 40005, 56.99), ('BioMed Inc', 40002, 3.67), ('CompTech, Inc', 40005, 149.99), ('Studio Warehouse', 40004, 56.33)]

**Not:**

In [185]:
c.execute("SELECT Customer_ID, City \
  FROM Customer \
  WHERE NOT City = 'Oakland'")
print(c.fetchall())

[(20001, 'San Jose'), (20002, 'San Francisco'), (20003, 'San Jose'), (20004, 'San Francisco'), (20006, 'San Francisco'), (20008, 'San Francisco'), (20010, 'San Jose'), (20012, 'San Francisco')]

**In:**

In [186]:
c.execute("SELECT Employee_ID, City \
  FROM Employee \
  WHERE Department IN ('Clothes', 'Electronics', 'Cosmetics')")
print(c.fetchall())

[(10001, 'San Francisco'), (10002, 'San Francisco'), (10003, 'San Jose'), (10004, 'San Francisco'), (10005, 'Oakland'), (10006, 'Oakland'), (10007, 'San Francisco'), (10008, 'Oakland'), (10009, 'San Jose'), (10012, 'San Jose')]

**Between:**

In [187]:
c.execute("SELECT Product_Name, Price \
  FROM Product \
  WHERE Price BETWEEN 15 AND 35")
print(c.fetchall())

[('Pants', 34.35), ('Medicine', 23.96), ('Headphones', 31.44), ('Lotion', 16.77)]

**Exists:**

In [188]:
c.execute("SELECT * FROM Employee \
  WHERE EXISTS \
  (SELECT * FROM Employee WHERE First_Name = 'Joe' AND Last_Name = 'Smith')")
if c.fetchone():
  print("Found record!")
else:
  print("No record exists.")

No record exists.

**Limits:**

In [189]:
c.execute("SELECT * FROM Customer \
  WHERE City = 'San Jose' \
  LIMIT 2")
print(c.fetchall())

[(20001, 'Jack', 'Ward', 'San Jose'), (20003, 'Jessica', 'Collins', 'San Jose')]

In [0]:
conn.commit()
conn.close()

# Grouping and Reorganizing Data

In [0]:
conn = sqlite3.connect('Sales.db')
c = conn.cursor()

In [191]:
# Add two additional orders that do not have the same records customers in the customer table
# This will help make the inner and left join examples more clear
orders = [
    (50010, 20013, 30004, 10008, '17-04-11'),
    (50011, 20014, 30007, 10010, '17-09-16'),
]
c.executemany('INSERT INTO Orders VALUES (?,?,?,?,?)', orders)

**Inner Joins:**

In [192]:
c.execute("SELECT * FROM Customer \
  INNER JOIN Orders ON Customer.Customer_ID = Orders.Customer_ID")
print(c.fetchall())

[(20005, 'Zack', 'Peterson', 'Oakland', 50001, 20005, 30005, 10001, '17-02-12'), (20003, 'Jessica', 'Collins', 'San Jose', 50002, 20003, 30008, 10011, '17-09-03'), (20010, 'Lauren', 'Pham', 'San Jose', 50003, 20010, 30001, 10009, '17-11-23'), (20004, 'Carie', 'Robinson', 'San Francisco', 50004, 20004, 30008, 10010, '17-01-28'), (20008, 'Lisa', 'Smith', 'San Francisco', 50005, 20008, 30012, 10002, '17-08-11'), (20011, 'Juan', 'Diaz', 'Oakland', 50006, 20011, 30011, 10001, '17-04-13'), (20012, 'Martha', 'Diaz', 'San Francisco', 50007, 20012, 30002, 10007, '17-10-07'), (20002, 'Steven', 'Martinez', 'San Francisco', 50008, 20002, 30001, 10004, '17-03-09'), (20001, 'Jack', 'Ward', 'San Jose', 50009, 20001, 30006, 10009, '17-12-26')]

**Left Joins:**

In [193]:
c.execute("SELECT * FROM Customer \
  LEFT JOIN Orders ON Customer.Customer_ID = Orders.Customer_ID")
print(c.fetchall())

[(20001, 'Jack', 'Ward', 'San Jose', 50009, 20001, 30006, 10009, '17-12-26'), (20002, 'Steven', 'Martinez', 'San Francisco', 50008, 20002, 30001, 10004, '17-03-09'), (20003, 'Jessica', 'Collins', 'San Jose', 50002, 20003, 30008, 10011, '17-09-03'), (20004, 'Carie', 'Robinson', 'San Francisco', 50004, 20004, 30008, 10010, '17-01-28'), (20005, 'Zack', 'Peterson', 'Oakland', 50001, 20005, 30005, 10001, '17-02-12'), (20006, 'Bianca', 'Sanchez', 'San Francisco', None, None, None, None, None), (20007, 'James', 'Owen', 'Oakland', None, None, None, None, None), (20008, 'Lisa', 'Smith', 'San Francisco', 50005, 20008, 30012, 10002, '17-08-11'), (20009, 'Daniel', 'Yasukawa', 'Oakland', None, None, None, None, None), (20010, 'Lauren', 'Pham', 'San Jose', 50003, 20010, 30001, 10009, '17-11-23'), (20011, 'Juan', 'Diaz', 'Oakland', 50006, 20011, 30011, 10001, '17-04-13'), (20012, 'Martha', 'Diaz', 'San Francisco', 50007, 20012, 30002, 10007, '17-10-07')]

In [194]:
c.execute("SELECT * FROM Orders \
  LEFT JOIN Customer ON Customer.Customer_ID = Orders.Customer_ID")
print(c.fetchall())

[(50001, 20005, 30005, 10001, '17-02-12', 20005, 'Zack', 'Peterson', 'Oakland'), (50002, 20003, 30008, 10011, '17-09-03', 20003, 'Jessica', 'Collins', 'San Jose'), (50003, 20010, 30001, 10009, '17-11-23', 20010, 'Lauren', 'Pham', 'San Jose'), (50004, 20004, 30008, 10010, '17-01-28', 20004, 'Carie', 'Robinson', 'San Francisco'), (50005, 20008, 30012, 10002, '17-08-11', 20008, 'Lisa', 'Smith', 'San Francisco'), (50006, 20011, 30011, 10001, '17-04-13', 20011, 'Juan', 'Diaz', 'Oakland'), (50007, 20012, 30002, 10007, '17-10-07', 20012, 'Martha', 'Diaz', 'San Francisco'), (50008, 20002, 30001, 10004, '17-03-09', 20002, 'Steven', 'Martinez', 'San Francisco'), (50009, 20001, 30006, 10009, '17-12-26', 20001, 'Jack', 'Ward', 'San Jose'), (50010, 20013, 30004, 10008, '17-04-11', None, None, None, None), (50011, 20014, 30007, 10010, '17-09-16', None, None, None, None)]

**Unions:**

In [195]:
c.execute("SELECT First_Name, Last_Name FROM Employee \
  UNION \
  SELECT First_Name, Last_Name FROM Customer")
print(c.fetchall())

[('Adam', 'Smith'), ('Bianca', 'Sanchez'), ('Carie', 'Robinson'), ('Daniel', 'Olson'), ('Daniel', 'Yasukawa'), ('George', 'Wong'), ('Jack', 'Ward'), ('James', 'Owen'), ('Jasmine', 'Khan'), ('Jessica', 'Collins'), ('Juan', 'Diaz'), ('Lauren', 'Pham'), ('Lisa', 'Smith'), ('Maria', 'Gonzales'), ('Martha', 'Diaz'), ('Miguel', 'Alva'), ('Nick', 'Markmen'), ('Rachel', 'Kim'), ('Stephanie', 'Williams'), ('Steven', 'Martinez'), ('Ted', 'Anderson'), ('Victoria', 'Garcia'), ('Zack', 'Peterson')]

**Order By:**

In [196]:
c.execute("SELECT * FROM Product \
  ORDER BY Price DESC")
print(c.fetchall())

[(30011, 'DVD Player', 149.99, 40005, 'CompTech, Inc'), (30003, 'Speakers', 56.99, 40005, 'CompTech, Inc'), (30012, 'Coat', 56.33, 40004, 'Studio Warehouse'), (30005, 'Microphone', 46.21, 40001, 'Music Vibrations, Inc'), (30004, 'Pants', 34.35, 40003, 'FashionRUs'), (30009, 'Headphones', 31.44, 40001, 'Music Vibrations, Inc'), (30008, 'Medicine', 23.96, 40002, 'BioMed Inc'), (30010, 'Lotion', 16.77, 40002, 'BioMed Inc'), (30001, 'T-Shirt', 12.98, 40004, 'Studio Warehouse'), (30006, 'Tie', 11.09, 40003, 'FashionRUs'), (30002, 'Tooth Paste', 4.5, 40002, 'BioMed Inc'), (30007, 'Chap Stick', 3.67, 40002, 'BioMed Inc')]

In [197]:
c.execute("SELECT * FROM Product \
  ORDER BY Price ASC")
print(c.fetchall())

[(30007, 'Chap Stick', 3.67, 40002, 'BioMed Inc'), (30002, 'Tooth Paste', 4.5, 40002, 'BioMed Inc'), (30006, 'Tie', 11.09, 40003, 'FashionRUs'), (30001, 'T-Shirt', 12.98, 40004, 'Studio Warehouse'), (30010, 'Lotion', 16.77, 40002, 'BioMed Inc'), (30008, 'Medicine', 23.96, 40002, 'BioMed Inc'), (30009, 'Headphones', 31.44, 40001, 'Music Vibrations, Inc'), (30004, 'Pants', 34.35, 40003, 'FashionRUs'), (30005, 'Microphone', 46.21, 40001, 'Music Vibrations, Inc'), (30012, 'Coat', 56.33, 40004, 'Studio Warehouse'), (30003, 'Speakers', 56.99, 40005, 'CompTech, Inc'), (30011, 'DVD Player', 149.99, 40005, 'CompTech, Inc')]

In [0]:
conn.commit()
c.close()

# Summarizing Results

In [0]:
conn = sqlite3.connect('Sales.db')
c = conn.cursor()

**Min:**

In [200]:
c.execute("SELECT MIN(Price), Product_Name FROM Product")
print(c.fetchone())

(3.67, 'Chap Stick')

**Max:**

In [201]:
c.execute("SELECT MAX(Price), Product_Name FROM Product")
print(c.fetchone())

(149.99, 'DVD Player')

**Count:**

In [202]:
c.execute("SELECT COUNT(Product_ID) FROM Orders")
print(c.fetchone())

(11,)

In [203]:
c.execute("SELECT COUNT(Product_ID) FROM Product WHERE Supplier_Name = 'BioMed Inc'")
print(c.fetchone())

(4,)

**Sum:**

In [204]:
c.execute("SELECT SUM(Price) FROM Product")
print(c.fetchone())

(448.28000000000003,)

**Avg:**

In [205]:
c.execute("SELECT AVG(Price) \
  FROM Product \
  WHERE Supplier_Name = 'BioMed Inc'")
print(c.fetchone())

(12.225000000000001,)

**Group By:**

In [206]:
c.execute("SELECT Supplier_Name, COUNT(Product_Name) \
  FROM Product \
  GROUP BY Supplier_Name")
print(c.fetchall())

[('BioMed Inc', 4), ('CompTech, Inc', 2), ('FashionRUs', 2), ('Music Vibrations, Inc', 2), ('Studio Warehouse', 2)]

**Having:**

In [207]:
c.execute("SELECT Supplier_Name, COUNT(Product_Name) \
  FROM Product \
  GROUP BY Supplier_Name \
  HAVING COUNT(Product_Name) > 2")
print(c.fetchall())

[('BioMed Inc', 4)]

In [0]:
conn.commit()
c.close()

In [0]:
files.download('Sales.db')